extends layoutMain.pug

block title
    title Vet Clinic | Main page

block titleHeader
    h1 Vet Clinic

block content

    .container-fluid            
        - var dateToday = new Date().toISOString().split('T')[0]
        form(action="/add", method="post")
            .form-row.justify-content-center                       
                .form-group.col-sm-4
                    label Дата
                    input.form-control(name = "Date", type = "date", value = dateToday )
            .form-row.justify-content-center   
                .form-group.col-sm-4
                    label Время
                    input.form-control(name = "Time", type = "time", require)
            .form-row.justify-content-center   
                .form-group.col-sm-4
                    label ФИО
                    input.form-control(name = "FIO", type = "text", placeholder = "Иванов Иван Иванович", require)
            .form-row.justify-content-center   
                .form-group.col-sm-4
                    label Номер телефона
                    input.form-control(name = "Number",id = "phone", placeholder = "+7 (999) 999-99-99", require)
            .form-row.justify-content-center   
                .form-group.col-sm-4
                    label Тип животного 
                    select.form-control(name = "Type Animal")
                        each item in typeAnimals 
                            if item.id==typeAnimals.id
                                option(value=item.id, selected) #{item.Name}
                            else
                                option(item.id) #{item.Name}
            .form-row.justify-content-center   
                .form-group.col-sm-4
                    label Кличка
                    input.form-control(name = "Name Animal")
            .form-row.justify-content-center   
                .form-group.col-sm-4
                    label Услуга
                    select.form-control(name = "Service")
                        each item in services 
                            if item.id==services .id
                                option(value=item.id, selected) #{item.Name}
                            else
                                option(item.id) #{item.Name}
                .form-group.col-sm-4
                    label Цена
                    input.form-control
            .form-row.justify-content-center
                .btn.btn-secondary.btn-lg Добавить запись                                  