extends layoutMain.pug

block title
    title Veterinary Clinic | Main page

block titleHeader
    h1 Veterinary Clinic

block content
    div  
        a.btn.btn-secondary.btn-lg(href="/edit/") &#10133;
        - var dateToday = new Date().toISOString().split('T')[0]                    
        input.form-control(name = "Date", type = "date", value = dateToday, id="dateRecord" )
    div
        table.table.table-hover.table-theme-dark.mt-5
            thead
                tr
                    th #
                    th Date
                    th Time
                    th NameOwner
                    th NumberOwner
                    th NameAnimal
                    th TypeAnimal
                    th Service
                    th Price
                    th Actions
            tbody
                each item in records
                    tr
                        td
                        td #{item.records.Date}
                        td #{item.records.Time}
                           
                        td #{item.records.NameOwner}
                           
                        td #{item.records.NumberOwner}
                            
                        td #{item.records.NameAnimal}

                        td #{item.records.TypeAnimal}
                        
                        td #{item.records.ServiceName}

                        td #{item.records.Price}

                        td 
                            div
                                a.btn.btn-secondary.btn-lg(href="/edit/"+item.records.IDRecord) &#9998;
                                a.btn.btn-secondary.btn-lg(href="/delete/"+item.records.IDRecord) &#128465;
                                
