extends layoutMain.pug

block title
    title Veterinary Clinic | Main page

block titleHeader
    h1 Veterinary Clinic

block content
    div
        a.btn.btn-secondary.btn-lg(href="/edit/") &#10133;            
        a.btn.btn-secondary.btn-lg(href="/edit/") &#10000;
        a.btn.btn-secondary.btn-lg(href="/delete/") &#128465;            
        a.btn.btn-secondary.btn-lg(href="/find/") &#128270;
    div
        table.table.table-hover.table-theme-dark.mt-5
            thead
                tr
                    th #
                    th Time
                    th NameOwner
                    th NumberOwner
                    th NameAnimal
                    th TypeAnimal
                    th Service
                    th Price
                    th Actions
            tbody
                each item in records
                    tr
                        td
                        td #{item.records.Time}
                           
                        td #{item.records.NameOwner}
                           
                        td #{item.records.NumberOwner}
                            
                        td #{item.records.NameAnimal}

                        td #{item.records.TypeAnimal}
                        
                        td #{item.records.ServiceName}

                        td #{item.records.Price}

                        td 
                            div
                                a.btn.btn-secondary.btn-lg(href="/edit/") &#9998;
                                a.btn.btn-secondary.btn-lg(href="/delete/") &#128465;